{% extends "base.html.j2" %}
{% block body %}
    <div class="body-wrapper">
        <article>
            <h1 style="text-align: center;">Not Found (HTTP 404)</h1>
            <p>
                Unfortunately, you've discovered a page that doesn't exist.<br/>
                Please try your last action again.
            </p>
            <h3>ERROR CODE: {{ error_code }}</h3>
            <p>
                If you continue to experience issues, please contact
                <a
                        href="mailto:douglas@builtonbits.com?subject=mixtapestudy.com ERROR:{{ error_code }}&body=Hello, I encountered an error on mixtapestudy.com ({{ error_code }}). Additional context below:"
                >
                    douglas@builtonbits.com
                </a>
                and include the error code above.
            </p>
        </article>
    </div>
{% endblock %}