<!DOCTYPE html>
<html lang="en">
<head>
    <!--
    Documentation:
        https://picocss.com/docs/version-picker
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark"/>

    <link rel="icon" href="{{ url_for('static', filename='playlist-music.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pico.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Mixtape Study</title>
</head>
<body>

{% block body %}
{% endblock %}

</body>
</html>