<!DOCTYPE html>
<html lang="en">
<head>
    <!--
    Documentation:
        https://picocss.com/docs/version-picker
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark"/>

    <link rel="icon" href="{{ url_for('static', filename='playlist-music.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pico.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Mixtape Study</title>
</head>
<body>

<div class="body-wrapper">
    <header>
        <nav>
            <ul>
                <li>
                    <h1>Playlist Generator</h1>
                </li>
            </ul>
            <ul>
                <li id="display-name">{{ session["display_name"] }}</li>
                <li><a id="logout-button" href="/logout" role="button">Log out</a></li>
            </ul>
        </nav>
    </header>
    {% block body %}
    {% endblock %}
</div>

</body>
</html>