{% extends "dependencies.html.j2" %}
{% block content %}
    <div class="body-wrapper">
        <header>
            <nav>
                <ul>
                    <li>
                        <h1>Playlist Generator</h1>
                    </li>
                </ul>
                <ul>
                    {% if session['id'] %}
                        <li id="display-name"><em>{{ session["display_name"] }}</em></li>
                        <li><a id="logout-button" href="/logout" role="button">Log out</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block body %}
        {% endblock %}
    </div>
{% endblock %}