{% extends "base.html.j2" %}
{% block body %}
    <main class="container login-container">
        <h5>Please sign in to generate a playlist.</h5>
        <a href="/login" role="button">Log in with Spotify</a>
    </main>
{% endblock %}