{% extends "base.html.j2" %}
{% block body %}
    <main class="container login-container">
        <h5>Please sign in to generate a playlist.</h5>
        <button>Log in with Spotify</button>
    </main>
{% endblock %}