{% extends "base.html.j2" %}
{% block body %}
    <main>
        <form>
            <fieldset class="grid search-grid">
                <div class="horizontal-input-left">
                    <input name="playlist_name" placeholder="Playlist Name"/>
                </div>
                <div class="horizontal-input-right">
                    <input type="submit" value="Save"/>
                </div>
            </fieldset>
        </form>
        <h2>Playlist Preview</h2>
        <article>
            <table id="playlist-preview">
                <thead>
                <tr>
                    <th>Song Name</th>
                    <th>Artist</th>
                </tr>
                </thead>
                <tbody>
                {% for song in playlist_songs %}
                    <tr>
                        <td>{{ song.name }}</td>
                        <td>{{ song.artist }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </article>
    </main>
{% endblock %}